<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      Query String validation and Query JSON conversion: Form
    </h5>
    <div class="card-body">
      <form [formGroup]="textForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Query String</label>
          <input
            formControlName="textName"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && h.textName.errors }"
            class="form-control"
          />
          <div
            *ngIf="h.textName.touched && h.textName.errors"
            class="text-warning"
          >
            <div *ngIf="h.textName.errors.required">text is required</div>
            <div *ngIf="h.textName.errors.required.text">
              QueryString must be a valid input text
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Convert</button>
          <button (click)="onReset()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <p class="text white">Value: {{ textForm.value | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
